extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Con más de 40 años de trayectoria y liderazgo en la industria, buscamos ayudar a personas y familias a viajar mejor. Ya sea para vacaciones personales, lunas de miel, expediciones o grupos familiares.

                p Nuestro equipo humano, nuestra tecnología de punta y nuestra inigualable red de proveedores, trabajan en conjunto para que nuestros clientes logren la mejor experiencia de viajes. Por eso nuestros clientes una vez viajando con notrosos, siempre vuelven por más viajes.

                p Nuestro objetivo como empresa siempre será que nuestros clientes vuelvan y que tengan las mejores vacaciones, viajes y experiencias a través de nuestros servicios.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Morbi eu massa vel tortor tincidunt convallis. Aliquam erat volutpat.Morbi eu massa vel tortor tincidunt convallis. Aliquam erat volutpat.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono desntinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Morbi eu massa vel tortor tincidunt convallis. Aliquam erat volutpat.Morbi eu massa vel tortor tincidunt convallis. Aliquam erat volutpat.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Morbi eu massa vel tortor tincidunt convallis. Aliquam erat volutpat.Morbi eu massa vel tortor tincidunt convallis. Aliquam erat volutpat.